body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: rgba(10, 123, 131, 0.822);
  width: 5%;
}
h1{
    color: #5EAAA8;
}
h3{
    color: #66BFBF;
}
a:link{
    color: #46b8b8;
}
a:visited{
    color: #056676;
}
a:hover{
    color: #5EAAA8;
}
a:active{
    color: #66BFBF;
}

